@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@layer components{
    .link{
      @apply hidden lg:flex justify-end  font-normal text-sm text-gray-500;
    }
    .btn{
      @apply w-full my-4 text-sm py-2 bg-blue-600 rounded-md text-white shadow-xl hover:bg-white hover:text-blue-500 hover:ring-1 hover:ring-blue-500 cursor-pointer transition-all duration-300  font-bold;
    }
    .input{
      @apply w-full shadow-none focus:shadow-none border-none outline-none focus:outline-none   focus:ring-0 focus:border-none  text-gray-400 rounded-lg p-2 text-sm bg-white;
    }
    .error{
      @apply inline-block text-right text-xs text-red-400 font-normal ;
    }
    .container-style{
      @apply   bg-gray-300 flex items-center justify-center h-screen;
    }
    .form-grid{
      @apply grid grid-cols-1 lg:grid-cols-2 bg-gray-200 rounded-xl p-2;
    }
}
